<div class="container">
    <div class="row main">
      <div class="panel-heading">
               <div class="panel-title text-center">
                   <h2 class="title">Ticketing System - Reset Password</h2>
                   <hr />
                 </div>
            </div> 
      <div class="main-login main-center">
        <form class="form-horizontal" method="post" action="#" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          
          <mat-form-field appearance="outline">
            <mat-label> Enter your email</mat-label>
            <input matInput placeholder="test@test.com" formControlName="email" required>
            <mat-error *ngIf="f['email'].getError('required')!=null">Email is required</mat-error>
            <mat-error *ngIf="f['email'].getError('pattern')!=null">Improper format</mat-error>
          </mat-form-field>
  
  
          <div class="form-group ">
            <button [disabled]="resetPasswordForm.invalid" type="submit" class="btn btn-primary btn-lg btn-block login-button">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>