
<table class="table table-dark table-striped" *ngIf="this.selector == -1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Roles</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>
          <div class="dropdown">
            <button class="dropbtn">Show Roles</button>
            <div class="dropdown-content">
              <a *ngFor="let role of user.roles">{{role}}</a>
            </div>
          </div>
        </td>
        <td>  
          <div class="dropdown">
            <button (click)="onDelete(user.email)" class="dropbtn2">Delete User</button>
          </div>
      </td>
      </tr>
    </tbody>
  </table>