mat-form-field {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  mat-radio-group{
    display: flex;
    flex-direction: column;
  }


  mat-radio-button{
    padding: 2px;
  }

