<app-navbar></app-navbar>

<div class="container">
  <div class="row main">
    <div class="panel-heading">
             <div class="panel-title text-center">
                 <h2 class="title">Ticketing System - Registration</h2>
                 <hr />
               </div>
          </div> 
    <div class="main-login main-center">
      <form class="form-horizontal" method="post" action="#" [formGroup]="registrationForm" (ngSubmit)="onRegister()">
        
        <div class="form-group" >
          <label for="name" class="cols-sm-2 control-label">First name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="firtstName" id="firtstName"  placeholder="Your First name" formControlName="first_Name"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Last name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="lastName" id="lastName"  placeholder="Your Last name" formControlName="last_Name"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="email" id="email"  placeholder="Your Email" formControlName="email"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="mobile" class="cols-sm-2 control-label required">Mobile</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="mobile" id="mobile"  placeholder="Your Mobile" formControlName="phone_Number"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="country" class="cols-sm-2 control-label">Role</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></span>
              <select formControlName="roleName" class="form-control" name="roleName" id="roleName"  placeholder="Please select your Role">
                                <option>-select-</option>
                                <option>Dean</option>
                                <option>Secretary Administration and Buisness</option>
                                <option>Secretary Computer and Information Technology</option>
                                <option>Secretary Computer Science</option>
                                <option>Secretary Mathematics</option>
                                <option>Student</option>
                                </select>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="nationality" class="cols-sm-2 control-label">Institution name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-globe fa-lg" aria-hidden="true"></i></span>
              <select class="form-control" name="institutionName" id="institutionName"  placeholder="Please select your Institution Name" formControlName="institutionName">
                                <option>-select-</option>
                                <option>Faculty of Mathematics and Computer Science</option>
                                <option>Faculty of Administration and Business</option>
                                </select>
            </div>
          </div>
        </div>

        <div class="form-group" >
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password"  placeholder="Choose a password" formControlName="password"/>
            </div>
          </div>
        </div>


        <div class="form-group ">
          <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
        </div>


        <div class="alreadyAccount">
          <span>
              Already have an account? Login <a routerLink="/login">here</a>.
          </span>
        
        </div>


      </form>
    </div>
  </div>
</div>

<p>Form Status: {{ registrationForm.status }}</p>