<div class="container">
  <div class="row main">
    <div class="panel-heading">
             <div class="panel-title text-center">
                 <h2 class="title">Ticketing System - Registration</h2>
                 <hr />
               </div>
          </div> 
    <div class="main-login main-center">

      <form class="form-horizontal" method="post" action="#" [formGroup]="registrationForm" (ngSubmit)="onRegister()">
          
        <mat-form-field appearance="outline">
          <mat-label> Enter your first name</mat-label>
          <input matInput placeholder="FirstName" formControlName="first_Name" required>
          <mat-error *ngIf="f['first_Name'].getError('required')!=null">First name is required</mat-error>
          <mat-error *ngIf="f['first_Name'].getError('minlength')!=null">First name should be at least 2 letters</mat-error>
          <!--<mat-error *ngIf="this.registrationForm.value.first_Name.invalid">{{getErrorMessageName(false)}}</mat-error>-->
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label> Enter your last name</mat-label>
          <input matInput placeholder="LastName" formControlName="last_Name" required>
          <mat-error *ngIf="f['last_Name'].getError('required')!=null">Last name is required</mat-error>
          <mat-error *ngIf="f['last_Name'].getError('minlength')!=null">Last name should be at least 2 letters</mat-error>
          <!--<mat-error *ngIf="this.registrationForm.value.last_Name.invalid">{{getErrorMessageName(true)}}</mat-error>-->
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label> Enter your email</mat-label>
          <input matInput placeholder="test@test.com" formControlName="email" required>
          <mat-error *ngIf="f['email'].getError('required')!=null">Email is required</mat-error>
          <mat-error *ngIf="f['email'].getError('pattern')!=null">Improper format</mat-error>
          <!--<mat-error *ngIf="this.registrationForm.value.email.invalid">{{getErrorMessageEmail()}}</mat-error>-->
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label> Enter your mobile</mat-label>
          <input matInput placeholder="PhoneNumber" formControlName="phone_Number" required>
          <mat-error *ngIf="f['phone_Number'].getError('required')!=null">Phone number is required</mat-error>
          <!--<mat-error *ngIf="this.registrationForm.value.phone_Number.invalid">{{getErrorMessagePhoneNumber()}}</mat-error>-->
        </mat-form-field>
      
        <mat-form-field appearance="outline"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value">
          <mat-select formControlName="roleName" required>
            <mat-option *ngFor="let role of this.roles" value="{{role.roleName}}">{{role.roleName}}</mat-option>
          </mat-select>
          <mat-label> <i> Role</i></mat-label>
          <mat-error *ngIf="f['roleName'].getError('required')!=null">Role is required</mat-error>
        </mat-form-field>
      
        <mat-form-field appearance="outline"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value">
          <mat-select formControlName="institutionName" required>
            <mat-option *ngFor="let institution of this.institutions" value="{{institution.nameInstitution}}">{{institution.nameInstitution}}</mat-option>
          </mat-select>
          <mat-label> <i> Institution</i></mat-label>
          <mat-error *ngIf="f['institutionName'].getError('required')!=null">Institution is required</mat-error>
        </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
            <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="f['password'].getError('required')!=null">Password is required</mat-error>
            <mat-error *ngIf="f['password'].getError('minlength')!=null">Password should be at least 6 letters</mat-error>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
            <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="f['confirmPassword'].getError('required')!=null">Confirmation password is required</mat-error>
            <mat-error *ngIf="f['confirmPassword'].getError('minlength')!=null">Conf-password should be at least 6 letters</mat-error>
            <mat-error *ngIf="f['confirmPassword'].getError('matchPasswords')!=null">Passwords mismatched</mat-error>
          </mat-form-field>



      
      
        <div class="form-group ">
          <button [disabled]="registrationForm.invalid" type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
        </div>
      
      
        <div class="alreadyAccount">
          <span>
              Already have an account? Login <a routerLink="/login">here</a>.
          </span>
        
        </div>
      
      
      </form>

    </div>
  </div>
</div>

<!--<p>Form Status: {{ registrationForm.status }}</p>-->